# Compiled class file
*.class

# Log file
*.log

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/
